<h1>Editing Book</h1>
<%= form_with model: @book,url: book_path(@book.id), method: :patch do |f| %>

<h2>Title</h2>
<%= f.text_field :title %>

<h2>Body</h2>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>
<%= link_to "Show","/books/#{@book.id}" %>
<%= link_to "Back","/books" %>

<% end %>