<h1>Books</h1>

<% @books.each do |book| %>
 <h2>Title</h2>
 <span><%= book.title %></span>

   <h2>Body</h2>
   <span><%= book.body %></span>
  <% end %>
  <a href="/books">Show</a>
  <a href="/books/edit">Edit</a>
  <a href="/books/">Dest</a>
 <h3>New Book</h3>
 <%= form_with model: @book do |f| %>

 <h4>Title</h4>
  <%= f.text_field :title %>
 <h5>Body</h5>
  <%= f.text_area :body %>

 <%= f.submit 'Create Book' %>
<% end %>

